@import 'colors';
@import 'utils';

.about_container {
  margin-top: 15px;
  border: 1px solid #D4D6DB;
  border-radius: 3px;
  background-color: $white;
}

.about_header {
  padding: 15px;
  background-color: #F5F6F7;
  border-bottom: 1px solid #D4D6DB;
  a {
    display: flex;
    align-items: center;
  }
  h2 {
    display: inline;
    margin-left: 5px;
    font-weight: bold;
    color: #51545A;
  }
  i {
    color: #ADB3BB;
  }
}
.about_body {
  display: flex;
  min-height: 180px;
}

.about_sidebar {
  width: 245px;
  padding: 8px 0;
  border-right: 1px solid #D4D6DB;
  box-sizing: border-box;
  ul {
    li {
      &.active {
        a {
          font-weight: bold;
          color: #000;
          border-left: 3px solid #3A5998;
        }
      }
      a {
        display: inline-block;
        padding: 5px 15px;
        margin: 8px 0;
        border-left: 3px solid transparent;
        font-size: 14px;
        color: #9498a0;
        &:hover {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
}

.about_viewport {
  position: relative;
  width: 605px;
  padding: 30px 0;
  // padding: 30px 25px;
  box-sizing: border-box;
  p.av_header {
    margin: 0 25px;
    padding-bottom: 6px;
    border-bottom: 1px solid #DDDFE2;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #90949C;
  }
  .av_contact_basic_preview {
    position: absolute;
    right: 25px;
    top: 30px;
    width: 205px;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
      background-color: #F5F6F7;
      .edit_prompt {
        display: inline-block;
      }
    }
    .edit_prompt {
      display: none;
      padding-top: 18px;
      color: #397AE5;
      font-size: 12px;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      display: flex;
      align-items: center;
      padding-bottom: 22px;
      font-size: 12px;
      color: #4B5056;
      span.icn_wrapper {
        margin-right: 9px;
        i {
          font-size: 17px;
          color: #D4D6DB;
        }
      }
    }
  }
  ul {
    margin-bottom: 35px;
    &.av_overview {
      width: 330px;
      padding-left: 25px;
      li {
        padding: 22px 0 36px 0;
        border-bottom: 1px solid #EBEDF0;
        cursor: pointer;
        &.shorter {
          padding-bottom: 15px;
        }
        &:hover {
          .av_overview_data_wrapper {
            background-color: #F5F6F7;
            .data_wrapper {
              .edit_prompt {
                display: inline-block;
              }
            }
          }
        }
      }
    }
    &.av_places {
      .btn_av_add {
        padding: 12px 0;
        margin: 0 25px;
        border-bottom: 1px solid #EBEDF0;
        cursor: pointer;
      }
      .av_places_town {
        .btn_av_add {
          border-bottom: 0;
        }
      }
      li {
        &.active {
          .btn_av_add {
            display: none;
          }
          .av_data_wrapper {
            display: none;
          }
          .av_edit_form {
            display: block;
          }
        }
        &.dne {
          .av_overview_data_wrapper {
            margin: 0 25px;
          }
        }
        .btn_av_add {
          display: flex;
        }
        .av_edit_form {
          display: none;
        }
      }
    }
    li {
      color: #3478E6;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 6px;
        border-bottom: none;
      }
      &.av_contact_number {
        .btn_av_add {
          border-bottom: 0;
        }
      }
      &.av_basic_gender {
        .data_value {
          text-transform: capitalize;
        }
      }
      &.dne {
        &:hover {
          cursor: default;
          .av_overview_data_wrapper{
            background-color: #fff;
          }
        }
        .av_overview_data_wrapper {
          padding: 10px 0;
          margin: 0;
          .av_overview_icn_wrapper {
            background-color: #fff;
            border-radius: 2px;
            border: 1px solid #CCCED4;
            box-sizing: border-box;
            i {
              background-color: white;
              color: #CCCED4;
            }
          }
          .data_wrapper {
            display: flex;
            align-items: center;
            .data_value {
              color: #90949C;
            }
          }
        }
      }
      .av_overview_data_wrapper {
        display: flex;
        padding: 10px;
        margin-left: -10px;
        margin-right: -10px;
        border-radius: 3px;
        .av_overview_icn_wrapper {
          display: flex;
          align-items: center;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          overflow: hidden;
          background-color: #CCCED4;
          i {
            margin: 0 auto;
            font-size: 24px;
            color: #fff;
          }
        }
        .data_wrapper {
          margin-left: 15px;
          .edit_prompt {
            display: none;
            font-size: 12px;
            color: #3478E6;
          }
          .data_value {
            font-size: 14px;
            line-height: 130%;
            color: #4B5056;
            &.extra {
              font-size: 12px;
              color: #90949C;
              a {
                color: #375898;
                font-weight: bold;
              }
            }
            a {
              color: #375898;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
      .av_edit_form {
        form {
          margin-top: -1px;
          padding: 15px 25px;
          background-color: #F5F6F7;
          border-top: 1px solid #E8EBEE;
          border-bottom: 1px solid #E8EBEE;
          .av_field_wrapper {
            label {
              display: inline-block;
              width: 175px;
              font-size: 14px;
              vertical-align: top;
              text-align: right;
              color: #606770;
            }
            input {
              padding: 4px 5px;
              margin-left: 20px;
              width: 245px;
              box-sizing: border-box;
              font-size: 14px;
            }
          }
          hr {
            margin: 15px 0;
            border-top: 0;
            border-color: #DDDFE2;
          }
          .btn_wrapper {
            margin-left: 195px;
            button {
              margin-right: 5px;
              padding: 7px;
              border-radius: 2px;
              font-weight: bold;
              cursor: pointer;
            }
          }
        }
      }
      .btn_av_add {
        display: flex;
        align-items: center;
      }
      .icn_wrapper {
        display: flex;
        align-items: center;
        width: 36px;
        height: 36px;
        margin-right: 14px;
        border:1px dashed #3478E6;
        box-sizing: border-box;
        .icn_add {
          width: 100%;
          font-size: 20px;
          text-align: center;
        }
      }
      .av_data_wrapper {
        position: relative;
        display: flex;
        padding: 18px 0;
        margin: 0 25px;
        border-bottom: 1px solid #EBEDF0;
        font-size: 15px;
        &:hover {
          .edit_prompt {
            display: block;
          }
        }
        .data_key {
          width: 200px;
          color: #AFB2B8;
        }
        .data_value {
          width: 355px;
          color: #393D3F;
          
        }
        .edit_prompt {
          display: none;
          position: absolute;
          right: 0;
          font-size: 12px;
          cursor: pointer;
          &:hover .edit_prompt_text {
            text-decoration: underline;
          }
          .edit_prompt_icn_wrapper {
            display: inline-block;
            position: relative;
            top: 1px;
            margin-right: 4px;
            i {font-size: 12px;}
          }
        }
      }
    }
  }
}